CMakeCache.txt
CMakeFiles/
dump.img
hello_pixy.cpp
Makefile
.idea/
cmake_install.cmake
output/
*.avi
demo
dataset/
train/data/
train/cpm-net/pre_trained/
train/heatmap-net/pre_trained/
train/heatmap-net/log/
train/heatmap-net/snapshots/
train/vgg-net/pre_trained/
train/simple-net/pre_trained/

train/test/
train/model/
train2
kinectDemo